/**
 This will be the stylesheet for all 3 html pages of the Portfolio Assignment since the page styles are relatively similar
 **/

 /**The below section lists CSS common to all 3 pages  **/

body {
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../hotel-wallpaper.png");
  width: auto;
  color: #ffffff;
}

header {
  position: absolute;
  top: 0;
}

li {
  display: inline;
  margin-right: 30px;
  padding-right: 25px;
}

nav {
  margin-left: 850px;
  margin-top:  50px;
}

a {
  color: #777777;
}

h1 {
  background-color: #ffffff;
  border-top: #cccccc 2px solid;
  border-bottom: #cccccc 2px solid;
  height: 75px;
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

hr {
    border: 1px solid #dddddd;
}

h2 {
  font-size: 24px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #4aaaa5;
}

footer {
  height:  55px;
  background-color: #666666;
  margin-top: 50px;
  padding-top: 10px;
  border-top: 8px solid #4aaaa5; 
  font-size: 10px;
}

#footer-text {
  text-justify: center;
}


/**The below section lists CSS for Index/About Page  **/

section {
  background-color: #4aaaa5;
  padding: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 200px;
  height: 35px;
  border: 20px #cccccc;
  margin-left: 6em;
  font-size: 28px; 
  text-align: center;
}

#bio {
  width: 175px;
  height: 200px;
  background-color: #ffffff;
  padding-right: 20px;
  padding-bottom: 15px;
  border: 2px;
  float: left;
}

#intro {
  background-color: #ffffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-right: 6em;
  margin-left: 170px;
  border: 1.5px solid #dddddd;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  height: 450px;
  width: 960px;
}

p{
  border-left: 20px;
  margin-right:  100px;
  text-align: justify;
  color: #82807d;
  line-height: .75cm;
  font-family: Arial, Helvetica, sans-serif;
}


/**The below section lists CSS for the Contact Page  **/

#form{
  background-color:#ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #777777;
  margin-right: 6em;
  margin-left: 170px;
  border: 1.5px solid #dddddd;
  padding: 25px;
  line-height: 1cm;
  padding-top: 0px;
  height:  500px;
  width: 960px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=free-form], select {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
}

button[type=button], select {
  background-color: #4aaaa5;
  border: none;
  color: white;
  padding: 10px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


  /**The below section lists CSS for the Portfolio Page  **/

#Gallery{
  background-color:#ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #777777;
  margin-right: 6em;
  margin-left: 170px;
  border: 1.5px solid #dddddd;
  padding-left: 25px;
  padding-right: 25px;
  height:  550px;
  width: 960px;
}

#Placeholder-1, #Placeholder-2, #Placeholder-3 {
  width: 225px;
  height: 175px;
  padding: 30px;
  margin-left: 25px;
}

#Placeholder-4, #Placeholder-5 {
  width: 225px;
  height: 175px;
  padding: 30px;
  margin-left: 125px;
}

p1 {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  padding-left: 67px;
}

#Baked-Bread { 
  width: 225px;
  height:  45px;
  background-color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  position: absolute;
  top: 48%;
  left: 26.2%;
  transform: translate(-50%, -50%) 
}

#Alley-Cat { 
  width: 225px;
  height:  45px;
  background-color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  position: absolute;
  top: 48%;
  left: 48.1%;
  transform: translate(-50%, -50%) 
}

#Big-Game-Nap { 
  width: 225px;
  height:  45px;
  background-color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  position: absolute;
  top: 48%;
  left: 70.1%;
  transform: translate(-50%, -50%) 
}

#Fall-Colours { 
  width: 225px;
  height:  45px;
  background-color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  position: absolute;
  top: 78%;
  left: 33.15%;
  transform: translate(-50%, -50%) 
}

#Dare-Devil { 
  width: 225px;
  height:  45px;
  background-color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  position: absolute;
  top: 78%;
  left: 62.2%;
  transform: translate(-50%, -50%) 
}